body {
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
  background: linear-gradient(135deg,
      rgba(30, 31, 31, 1) 0%,
      rgba(90, 91, 91, 1) 50%,
      rgba(30, 31, 31, 1) 100%);
}

.App {
  position: relative;
  top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.App h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  color: rgb(240, 223, 200);
  white-space: 2px;
  position: relative;
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(203, 224, 10, 0.5);
}

.i_have,
.i_want {
  box-shadow: 0px 3px 2px 1px rgb(194, 21, 21);
  display: grid;
  gap: 10px;
  border: 1px solid rgb(112, 109, 109);
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(184, 184, 182);

}

.i_want {
  box-shadow: 0px 3px 2px 1px rgb(12, 40, 223);
}

.i_have label {
  text-transform: uppercase;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(39, 39, 39);
  text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
  background: transparent;
  grid-column: 1 / span 2;
}

.i_want label {
  text-transform: uppercase;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(39, 39, 39);
  text-shadow: 2px 2px 4px rgba(12, 40, 223, 0.5);
  background: transparent;
  grid-column: 1 / span 2;
}

.i_have select {
  background: transparent;
  grid-column: 1;
  border-radius: 4px;
}

.i_have select:focus {
  box-shadow: 0px 0px 0px 2px rgba(255, 0, 0, 0.5);
  outline: none;
}
.i_want select:focus {
  box-shadow: 0px 0px 0px 2px rgba(12, 40, 223, 0.5);
  outline: none;
}

.i_want select {
  background: transparent;
  grid-column: 1;
  border-radius: 4px;
}

.line {
  width: 100%;
  height: 3px;
  background: rgb(104, 103, 103);
  box-shadow: 0px 1px 1px 1px rgb(6, 190, 157, 0.5);
}

.raet_contaiber {
  align-self: center;
  position: relative;
  z-index: 2;
  padding: 30px;
  border: 2px solid rgb(226, 230, 10, 0.8);
  border-radius: 4px;
  background: rgb(54, 54, 54);
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-shadow: 0px 0px 0px 2px rgb(134, 133, 35);
}

.to_change {
  height: 50px;
  width: 80%;
  font-weight: 600;
  border-radius: 80px;
  margin: auto;
}

.i_have input,
.i_want input {
  background: transparent;
  border: 1px solid black;
  padding: 5px;
  border-radius: 4px;
  font-family: fangsong;
  font-size: 17px;
}

.i_have input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px rgba(255, 0, 0, 0.5);
}

.i_want input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px rgba(12, 40, 223, 0.5);
}

.dollar {
  position: absolute;
  z-index: 0;
  top: -50px;
  font-size: 2rem;
  color: rgb(252, 215, 5, 0.5);
  animation: fall 5s linear infinite;
  animation-delay: 2s;
}

@keyframes fall {
  to {
    transform: translateY(200vh);
  }
}


@media (max-width: 428px) {
  .raet_contaiber {
    padding: 15px;
  }
}